<%- include('../partials/templHeader.ejs') -%>
<%- include('../partials/user-nav.ejs') -%>

<div class="site-wrap">
    

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/user">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="site-blocks-table">
              
              <table class="table table-bordered">
                <% if(products.length > 0){ %>
                <thead>
                  <tr>
                    <th class="product-thumbnail">Image</th>
                    <th class="product-name">Product</th>
                    <th class="product-price">Price</th>
                    <th class="product-quantity">Quantity</th>
                    <th class="product-total">Total</th>
                    <th class="product-remove">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <% products.forEach((product) => { %>
                  <tr>
                    <td class="product-thumbnail">
                      <img src="/<%= product.productId && product.productId.image && product.productId.image[0] %>" alt="Image" class="img-fluid">
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black"><%= product.productId.pname %></h2>
                    </td>
                    <td><%= product.productId.price %></td>
                    <td>
                      <div class="input-group mb-3" style="max-width: 120px;">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-primary" id="decrement_<%= product.productId._id %>" onclick="decreseNumber('<%= product.productId._id %>')" type="button"">&minus;</button>
                        </div>

                        <div type="text" id="quantity_<%= product.productId._id %>" class="form-control text-center" name="quantity" aria-label="Example text with button addon" aria-describedby="button-addon1"> <%= product.quantity %> </div>
                        
                        <div class="input-group-append">
                          <button class="btn btn-outline-primary" id="increment_<%= product.productId._id %>" onclick="updateNumber('<%= product.productId._id %>')" type="button">&plus;</button>
                        </div>
                      </div>

                    </td>
                    <% let total = product.quantity * product.productId.price %>
                    <td class="total price item-total" id="product-total-price-<%= product.productId._id %>"><%= total %></td>
                    <td><a href="/removeItem/<%= product.productId._id %>"  class="btn btn-primary btn-sm" id="remove" >X</a></td>
                  </tr>
                  <% }) %>
                </tbody>
                <% } %>
              </table>
             
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="row mb-5">
              <!-- <div class="col-md-6 mb-3 mb-md-0">
                <button type="button" class="btn btn-primary btn-sm btn-block">Update Cart</button>
              </div> -->
              <div class="col-md-6">
                <a href="/user/products" class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</a>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-12">
                <label class="text-black h4" for="coupon">Coupon</label>
                <p>Enter your coupon code if you have one.</p>
              </div>
              <div class="col-md-8 mb-3 mb-md-0">
                <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary btn-sm">Apply Coupon</button>
              </div>
            </div> -->
          </div>
          <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12 text-right border-bottom mb-5">
                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <span class="text-black">Subtotal</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black" id="sub-total"> </strong>
                  </div>
                </div>
                <!-- <div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Discount</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black" >0</strong>
                  </div>
                </div> -->
                

                <div class="row">
                  <div class="col-md-12">
                    <% if (products.length > 0) { %>
                      <button type="submit" class="btn btn-primary btn-lg py-3 btn-block" id="proceedToCheckoutBtn" onclick="window.location='/user/address'">Proceed To Checkout</button>
                    <% } %>  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer border-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Navigations</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Sell online</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Shopping cart</a></li>
                  <li><a href="#">Store builder</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Mobile commerce</a></li>
                  <li><a href="#">Dropshipping</a></li>
                  <li><a href="#">Website development</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Point of sale</a></li>
                  <li><a href="#">Hardware</a></li>
                  <li><a href="#">Software</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a href="#" class="block-6">
              <img src="/public/index/images/shades_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0">Finding Your Perfect Shades</h3>
            </a>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">EyeStyle Stylish eyewears, Al Barsha - Dubai, United Arab Emirates </li>
                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                <li class="email">eyestyleofficial@gmail.com</li>
              </ul>
            </div>

            <div class="block-7">
              <form action="#" method="post">
                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                <div class="form-group">
                  <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                  <input type="submit" class="btn btn-sm btn-primary" value="Send">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script>
    const setSubTotal = () =>{
      const itemTotal = document.getElementsByClassName('item-total');
      let subtotal = 0;
      for(let i = 0 ; i < itemTotal.length ; i++)
      {
        subtotal += Number(itemTotal[i].innerText);
      }
      document.getElementById('sub-total').innerHTML = subtotal;
    }

    setSubTotal();



    function decreseNumber(cartItemId){
        let currentQuantity = parseInt($(`#quantity_${cartItemId}`).text());

        if(currentQuantity > 1){
          $.ajax({
            url: '/decrementQuantity',
            method: 'post',
            data:{cartItemId: cartItemId},

            success: function(data){
              console.log(data, "Data in quantity decrement");
              $(`#product-total-price-${cartItemId}`).text(data.total);
              $(`#quantity_${cartItemId}`).text(data?.quantity);
              setSubTotal();
            },
            error: function(jqXHR, textStatus, errorThrown){
              console.error(errorThrown);
            }
          })
        } else {
          $(`#quantity_${cartItemId}`).text(1);
        }
    }

    function updateNumber(cartItemId){
      $.ajax({
        url:'/incrementQuantity',
        method:"post",
        data:{cartItemId: cartItemId},
        success: function(data){
          if(data.success){
            console.log(data);
            $(`#product-total-price-${cartItemId}`).text(data.total)
            
            $(`#quantity_${cartItemId}`).text(data?.quantity)
            
            setSubTotal();
          }else{
            console.log('error');
          }
        },
        error: function(jqXHR, textStatus, errorThrown){
          console.error(errorThrown);
        }
      })
	}


  // function removItemCart(productId){
	// 	console.log(productId);
	// 	$.ajax({
	// 	    url:"/removeItem",
	// 		  type:"post",
	// 		  data:{productId:productId},
	// 		success:function(data){
	// 			console.log(data);
	// 			if(data.status){
	// 				console.log(data.message);
	// 				// const cartItem=document.querySelector(`tr[data-item-id="${productId}"]`)
	// 				const id=`remove_${productId}`
	// 				document.getElementById(id).remove()
	// 				setSubtotal();
	// 				if (data.length==0) {
	// 					document.getElementById('cartTable').style.display='none';
	// 					document.getElementById('noItems').style.display='block';
	// 				}
	// 			}else{
	// 				console.log('error');
	// 			}
	// 		}	
	// 	})
	// }
    
  </script>

<%- include('../partials/templFooter.ejs') -%>