<%- include('../partials/templHeader.ejs') -%>

<div class="site-wrap">
    <header class="site-navbar" role="banner">
        <div class="site-navbar-top">
          <div class="container">
            <div class="row align-items-center">
  
              <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                <form action="" class="site-block-top-search border border-light">
                  <span class="icon icon-search2"></span>
                  <input type="text" class="form-control border-0" placeholder="Search">
                </form>
              </div>
  
              <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                <div class="site-logo">
                  <a href="/" class="js-logo-clone">EyeStyle</a>
                </div>
              </div>
             
              <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                <div class="site-top-icons">
                  <ul>
                    <!-- <li><a href="/login"><span class="icon icon-person"></span></a></li> -->
                    <li><a href="/login"><span class="icon icon-heart-o"></span></a></li>
                    <li>
                      <a href="/login" class="site-cart">
                        <span class="icon icon-shopping_cart"></span>
                      </a>
                    </li> 
                    <li class="dropdown mr-1 ml-md-auto"> 
                      <button type="button" class="btn btn-primary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                        
                        <a class="dropdown-item" href="/login">Login</a>
                        <a class="dropdown-item" href="/register">Create Account</a>
                      </div>
                    </li>
                    <!-- <li> <a href="/login" class="btn btn-primary" style="width: 81px;"> Login </a> </li> -->
                    <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                  </ul>
                </div> 
              </div>
  
            </div>
          </div>
        </div> 
        <nav class="site-navigation text-right text-md-center" role="navigation">
          <div class="container">
            <ul class="site-menu js-clone-nav d-none d-md-block">
              <li class="">
                <a href="/">Home</a>
                <!-- <ul class="dropdown">
                  <li><a href="#">Menu One</a></li>
                  <li><a href="#">Menu Two</a></li>
                  <li><a href="#">Menu Three</a></li>
                  <li class="has-children">
                    <a href="#">Sub Menu</a>
                    <ul class="dropdown">
                      <li><a href="#">Menu One</a></li>
                      <li><a href="#">Menu Two</a></li>
                      <li><a href="#">Menu Three</a></li>
                    </ul>
                  </li>
                </ul> -->
              </li>
              <li class="">
                <a href="/under_maintenance">About</a>
                <!-- <ul class="dropdown">
                  <li><a href="#">Menu One</a></li>
                  <li><a href="#">Menu Two</a></li>
                  <li><a href="#">Menu Three</a></li>
                </ul> -->
              </li>
              <li class="active">
                <a href="/product">Shop</a>
              </li>
              <li><a href="/login">My Orders</a></li>
              <li><a href="/login">My Wallet</a></li>
              <li><a href="/under_maintenance">Contact</a></li>
            </ul>
          </div>
        </nav>
      </header>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-9 order-2">

            <div class="row">
              <div class="col-md-12 mb-5">
                <div class="float-md-left mb-4"><h2 class="text-black h5">Shop All</h2></div>
                <div class="d-flex">
                  <div class="dropdown mr-1 ml-md-auto">
                    <button  type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Categories
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                      <% categories.forEach((category) => { %>
                      <a class="dropdown-item"  href="/product?category=<%= category._id %>"><%= category.categname %></a>
                      <% }) %>
                      <a class="dropdown-item"  href="/product">All</a>
                    </div>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown">Sort By</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                      <!-- <a class="dropdown-item" href="#">Relevance</a> -->
                      <!-- <a class="dropdown-item" href="#">Name, A to Z</a> -->
                      <!-- <a class="dropdown-item" href="#">Name, Z to A</a> -->
                      <!-- <div class="dropdown-divider"></div> -->
                      <a class="dropdown-item" href="/product?sortBy=low-to-high">Price, low to high</a>
                      <a class="dropdown-item" href="/product?sortBy=high-to-low">Price, high to low</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div id="product-list" class="row mb-5">
              <% products.forEach((product)=> { %>
              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border bg-warning gradient-bg">
                  <figure class="block-4-image py-4" title="View Product">
                    <a href="#"><img src="/<%= product.image [0] %>" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4 bg-light" title="View Product">

                    <a id="wishlist-link" class="text-right" href="/login"  >
                      <span id="wishlist-icon" class="icon icon-heart-o text-right" title="Wishlist"> </span></a>

                    <h3 class="product-name" ><a href="#"><%= product.pname %></a></h3>
                    
                    <p class="text-success font-weight-bold">₹ <%= product.price %></p>
                  </div>
                </div>
                <%


              %>
              </div>
              <% }) %>
            </div>

            <div class="row" data-aos="fade-up">
              <div class="col-md-12 text-center">
                <div class="site-block-27">
                  <ul>
                    <% if (currentPage > 1) { %>
                    <li><a href="/product?page=<%= currentPage - 1 %>">&lt;</a></li>
                    <% } %>
                    <% for(let i = 1; i <= totalPages; i++) {%>
                      <% if(i === currentPage) { %>
                    <li class="active"><span><%= i %></span></li>
                    <%} else { %>
                    <li><a href="/product?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% } %>
                    <% if (currentPage < totalPages) { %>
                    <li><a href="/product?page<%= currentPage + 1 %>">&gt;</a></li>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 order-1 mb-5 mb-md-0">
            <!-- <div class="border p-4 rounded mb-4">
              <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
              <ul class="list-unstyled mb-0">
                <li class="mb-1"><a href="#" class="d-flex"><span>Men</span> <span class="text-black ml-auto">(2,220)</span></a></li>
                <li class="mb-1"><a href="#" class="d-flex"><span>Women</span> <span class="text-black ml-auto">(2,550)</span></a></li>
                <li class="mb-1"><a href="#" class="d-flex"><span>Children</span> <span class="text-black ml-auto">(2,124)</span></a></li>
              </ul>
            </div> -->

            <div class="border p-4 rounded mb-4">
              <div class="mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
                <div id="slider-range" class="border-primary"></div>
                <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
              </div>

              <!-- <div class="mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">Size</h3>
                <label for="s_sm" class="d-flex">
                  <input type="checkbox" id="s_sm" class="mr-2 mt-1"> <span class="text-black">Small (2,319)</span>
                </label>
                <label for="s_md" class="d-flex">
                  <input type="checkbox" id="s_md" class="mr-2 mt-1"> <span class="text-black">Medium (1,282)</span>
                </label>
                <label for="s_lg" class="d-flex">
                  <input type="checkbox" id="s_lg" class="mr-2 mt-1"> <span class="text-black">Large (1,392)</span>
                </label>
              </div> -->

              <div class="mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">Our Popular Brands</h3>
                <a href="#" class="d-flex color-item align-items-center" >
                  <span class="bg-danger color d-inline-block rounded-circle mr-2"></span> <span class="text-black">RayBan</span>
                </a>
                <a href="#" class="d-flex color-item align-items-center" >
                  <span class="bg-success color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Versac</span>
                </a>
                <a href="#" class="d-flex color-item align-items-center" >
                  <span class="bg-info color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Peter Johnes</span>
                </a>
                <a href="#" class="d-flex color-item align-items-center" >
                  <span class="bg-primary color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Prada</span>
                </a>
                <a href="#" class="d-flex color-item align-items-center" >
                  <span class="bg-warning color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Michael Kors</span>
                </a>
                <a href="#" class="d-flex color-item align-items-center" >
                  <span class="bg-secondary color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Dolce & Gabbana</span>
                </a>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="site-section site-blocks-2">
                <div class="row justify-content-center text-center mb-5">
                  <div class="col-md-7 site-section-heading pt-4">
                    <h2>Categories</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="#">
                      <figure class="image">
                        <img src="/public/index/images/Men_2.jpeg" alt="" class="img-fluid">
                      </figure>
                      <div class="text">
                        <span class="text-uppercase">Collections</span>
                        <h3>Men</h3>
                      </div>
                    </a>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
                    <a class="block-2-item" href="#">
                      <figure class="image">
                        <img src="/public/index/images/Kids.jpg" alt="" class="img-fluid">
                      </figure>
                      <div class="text">
                        <span class="text-uppercase">Collections</span>
                        <h3>Children</h3>
                      </div>
                    </a>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                    <a class="block-2-item" href="#">
                      <figure class="image">
                        <img src="/public/index/images/Women_1.jpg" alt="" class="img-fluid">
                      </figure>
                      <div class="text">
                        <span class="text-uppercase">Collections</span>
                        <h3>Women</h3>
                      </div>
                    </a>
                  </div>
                </div>
              
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <footer class="site-footer border-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Navigations</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Sell online</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Shopping cart</a></li>
                  <li><a href="#">Store builder</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Mobile commerce</a></li>
                  <li><a href="#">Dropshipping</a></li>
                  <li><a href="#">Website development</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Point of sale</a></li>
                  <li><a href="#">Hardware</a></li>
                  <li><a href="#">Software</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a href="#" class="block-6">
              <img src="/public/index/images/shades_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0">Finding Your Perfect Shades</h3>
            </a>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">EyeStyle Stylish eyewears, Al Barsha - Dubai, United Arab Emirates </li>
                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                <li class="email">eyestyleofficial@gmail.com</li>
              </ul>
            </div>

            <div class="block-7">
              <form action="#" method="post">
                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                <div class="form-group">
                  <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                  <input type="submit" class="btn btn-sm btn-primary" value="Send">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>

    // Get the button element
    const categoryButton = document.getElementById('dropdownMenuOffset');

    // Get all the category dropdown items
    const categoryItems = document.querySelectorAll('.dropdown-item');

    // Get all the category dropdown items
    categoryItems.forEach(item => {
      item.addEventListener('click', ()=> {
        const categoryName = item.innerHTML;

        categoryButton.innerHTML = categoryName;
      })
    });
  </script>

  <style>

    .product-name{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .gradient-bg{
      background: linear-gradient(to bottom left, rgba(219, 230, 246, 0.8), rgba(197, 121, 109, 0.8));
    }
  </style>

<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

  <script>

   setTimeout(()=>{
     var msg =  document.getElementById('msg');
      if(msg){
        msg.style.display = 'none';
      }}, 4000);


  </script>

<%- include('../partials/templFooter.ejs') -%>