<%- include('../partials/templHeader.ejs') -%>
<%- include('../partials/user-nav.ejs') -%>


<div class="site-wrap">
    <div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0"><a href="/user">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Profile</strong></div>
          </div>
        </div>
      </div>

      <section style="background-color: #eee;">
        <div class="container py-5">
      
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;"> -->
                  <h5 class="my-3"><%= user.name %></h5>
                  <p class="text-muted mb-1"><%= user.mobile %></p>
                  <p class="text-muted mb-4"><%= user.email %></p>
                  <div class="d-flex justify-content-center mb-2">
                    <a href="/logout" class="btn btn-primary me-2">Logout</a>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Add Address</button>
                  </div>
                </div>
              </div>


              <!-- Add address modal -->
              <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Add Your Address</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="p-3 p-lg-5 border">
                        <form action="/add_address"  method="post">
          
          
                          <%
                              if(typeof message !== 'undefined'){
                                %>
                                <div id="msg" class="col-md-12 alter alert-danger">
                                  <p class="fw-semibold text-center"> <%= message %> </p>
                                </div>
                                <%
                              }
          
                            %>
          
                        <div class="form-group row">
                          <div class="col-md-12">
                            <label for="c_fname" class="text-black"> Name <span class="text-danger">*</span></label>
                            <input name="name"   type="text" class="form-control" id="c_fname" required/>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="c_country" class="text-black">State <span class="text-danger">*</span></label>
                          <input name="state"  type="text" id="c_country" class="form-control" required>
                        </div>
          
                        <div class="form-group">
                          <label for="c_country" class="text-black">District<span class="text-danger">*</span></label>
                          <input name="district"  type="text" id="c_country" class="form-control" required>
          
                        </div>
                        <div class="form-group row">
                          <div class="col-md-12 mb-3">
                            <label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
                            <input name="add"  type="text" class="form-control  py-5" id="c_address" required>
                          </div>
                        </div>
          
                        <div class="form-group row">
                          <div class="col-md-12">
                            <label for="c_postal_zip" class="text-black">Pincode<span class="text-danger">*</span></label>
                            <input name="pincode" type="text" class="form-control" id="c_postal_zip" required>
                          </div>
                        </div>
          
                        <div class="form-group row mb-5">
                          <div class="col-md-12">
                            <label for="c_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                            <input name="phone" type="text" class="form-control" id="c_phone" required>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer form-group">
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
               <!-- /Add address modal -->

              <div class="card mb-4 mb-lg-0">
                <div class="card-body p-0">
                  <ul class="list-group list-group-flush rounded-3">
                    <a href="/user/wishlist" title="Wishlist">
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="icon icon-heart-o fa-lg text-warning"></i>
                            <p class="mb-0">My Wishlist</p>
                          </li>
                    </a>

                    <a href="/user/cart" title="Cart">
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="icon icon-shopping_cart" style="color: #873a3a;"></i>
                            <p class="mb-0">My Cart</p>
                          </li>
                    </a>

                    <a href="/user/my_orders" title="Orders">
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="fa-solid fa-bag-shopping" style="color: #55acee;"></i>
                            <p class="mb-0">My Orders</p>
                          </li>
                    </a>

                    <a href="/user/my_wallet">
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="fa-solid fa-wallet" style="color: #ac2bac;"></i>
                            <p class="mb-0">My Wallet</p>
                          </li>
                    </a>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <ul class="list-group list-group-flush rounded-3">
                      <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9 d-flex justify-content-between">
                      <p class="text-muted mb-0"><%= user.name %></p>
                      <!-- <a href=""><i class="fa-solid fa-user-pen fa-lg"></i></a> -->
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9 d-flex justify-content-between">
                      <p class="text-muted mb-0"><%= user.email %></p>
                      <!-- <a href=""><i class="fa-solid fa-user-pen fa-lg"></i></a> -->
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Phone</p>
                    </div>
                    <div class="col-sm-9 d-flex justify-content-between">
                      <p class="text-muted mb-0"><%= user.mobile %></p>
                      <!-- <a href=""><i class="fa-solid fa-user-pen fa-lg"></i></a> -->
                    </div>
                  </div>
                  <hr>
                  <!-- <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Mobile</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">(098) 765-4321</p>
                    </div>
                  </div> -->
                  <!-- <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Address</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"></p>
                    </div>
                  </div> -->
                </div>
              </div>
              <div class="row body bg-white">
                <div class="col-md-12 mb-5 ">
                    <h2 class="h3 mb-3 text-black">My Address Details</h2>
                   
                    <div class="p-lg-5 border">
                    <% addressData.forEach((address, index) => { %>
                      <div class="border p-3 mb-3">
                        <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsebank" role="button" aria-expanded="false" aria-controls="collapsebank">Address - <%= index + 1 %> </a></h3>
                        
                        <div class="collapse" id="collapsebank">
                          <div class="py-2">
                            <p class="mb-0">
                                <%= address.name %>,
                                <%= address.phone %>,
                                <%= address.state %>,
                                <%= address.district %>
                                <%= address.add %>,
                                <%= address.pincode %>
                            </p>
                          </div>
                        </div>
                        <div class="d-flex" >
                           <button type="submit" id="collapsebank"  data-toggle="modal" data-target="#exampleModalLong<%= address._id %>"  class="collapse btn btn-sm btn-primary me-3">Edit</button> 

                          <a href="/delete_address/<%= address._id %>" > 
                            <button  id="collapsebank"  address-id="<%= address._id %>" class="delete-address-btn collapse btn btn-sm btn-primary">Delete</button>
                          </a> 

                        </div>

                        <!-- Address Modal -->
                        <div class="modal fade" id="exampleModalLong<%= address._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Edit Your Address</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="p-3 p-lg-5 border">
                                  <form action="/edit_address/<%= address._id %>" class="edit-address-form" address-id="<%= address._id %>" method="post">
                    
                    
                                    <%
                                        if(typeof message !== 'undefined'){
                                          %>
                                          <div id="msg" class="col-md-12 alter alert-danger">
                                            <p class="fw-semibold text-center"> <%= message %> </p>
                                          </div>
                                          <%
                                        }
                    
                                      %>
                    
                                  <div class="form-group row">
                                    <div class="col-md-12">
                                      <label for="c_fname" class="text-black"> Name <span class="text-danger">*</span></label>
                                      <input name="name" value="<%= address.name %>"  type="text" class="form-control" id="c_fname<%= address._id %>" required/>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="c_country" class="text-black">State <span class="text-danger">*</span></label>
                                    <input name="state" value="<%= address.state %>" type="text" id="c_country<%= address._id %>" class="form-control" required>
                                  </div>
                    
                                  <div class="form-group">
                                    <label for="c_country" class="text-black">District<span class="text-danger">*</span></label>
                                    <input name="district" value="<%= address.district %>" type="text" id="c_country<%= address._id %>" class="form-control" required>
                    
                                  </div>
                                  <div class="form-group row">
                                    <div class="col-md-12 mb-3">
                                      <label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
                                      <input name="add" value="<%= address.add %>" type="text" class="form-control  py-5" id="c_address<%= address._id %>" required>
                                    </div>
                                  </div>
                    
                                  <div class="form-group row">
                                    <div class="col-md-12">
                                      <label for="c_postal_zip" class="text-black">Pincode<span class="text-danger">*</span></label>
                                      <input name="pincode" value="<%= address.pincode %>" type="text" class="form-control" id="c_postal_zip<%= address._id %>" required>
                                    </div>
                                  </div>
                    
                                  <div class="form-group row mb-5">
                                    <div class="col-md-12">
                                      <label for="c_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                                      <input name="phone" value="<%= address.phone %>" type="text" class="form-control" id="c_phone<%= address._id %>" required>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer form-group">
                                <button type="submit" class="btn btn-primary">Save changes</button>
                              </div>
                            </form>
                            </div>
                          </div>
                        </div>
                        <!-- /Address Modal -->
          
                        
                      </div>
                      <% }) %>
                    </div>
                  </div>
                <!-- <div class="col-md-6">
                  <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                      <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
                      </p>
                      <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                      <div class="progress rounded" style="height: 5px;">
                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                      <div class="progress rounded" style="height: 5px;">
                        <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                      <div class="progress rounded" style="height: 5px;">
                        <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                      <div class="progress rounded" style="height: 5px;">
                        <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                      <div class="progress rounded mb-2" style="height: 5px;">
                        <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer class="site-footer border-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="footer-heading mb-4">Navigations</h3>
                </div>
                <div class="col-md-6 col-lg-4">
                  <ul class="list-unstyled">
                    <li><a href="#">Sell online</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Shopping cart</a></li>
                    <li><a href="#">Store builder</a></li>
                  </ul>
                </div>
                <div class="col-md-6 col-lg-4">
                  <ul class="list-unstyled">
                    <li><a href="#">Mobile commerce</a></li>
                    <li><a href="#">Dropshipping</a></li>
                    <li><a href="#">Website development</a></li>
                  </ul>
                </div>
                <div class="col-md-6 col-lg-4">
                  <ul class="list-unstyled">
                    <li><a href="#">Point of sale</a></li>
                    <li><a href="#">Hardware</a></li>
                    <li><a href="#">Software</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
              <h3 class="footer-heading mb-4">Promo</h3>
              <a href="#" class="block-6">
                <img src="/public/index/images/shades_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
                <h3 class="font-weight-light  mb-0">Finding Your Perfect Shades</h3>
              </a>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="block-5 mb-5">
                <h3 class="footer-heading mb-4">Contact Info</h3>
                <ul class="list-unstyled">
                  <li class="address">EyeStyle Stylish eyewears, Al Barsha - Dubai, United Arab Emirates </li>
                  <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                  <li class="email">eyestyleofficial@gmail.com</li>
                </ul>
              </div>
  
              <div class="block-7">
                <form action="#" method="post">
                  <label for="email_subscribe" class="footer-heading">Subscribe</label>
                  <div class="form-group">
                    <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                    <input type="submit" class="btn btn-sm btn-primary" value="Send">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </footer>
</div>

  
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- <script>
  //edit address ajax
  $('form.edit-address-form').on('submit', function(e){
    e.preventDefault();

    var addressId = $(this).data('address-id');
    var formData = $(this).serialize();

    $.ajax({
      url: '/edit_address' + addressId,
      method: 'POST',
      data: formData,
      success: (response) =>{
        Toastify({
          Text: "response.data.message",
          duration: 4000,
          backgroundColor: 'Green',
          destination: '/user/profile',
          close: true,
        }).showToast();
      },

      error: ((error)=>{
        Toastify({
          Text: 'Error occured while updating Address!!',
          duration: 4000,
          backgroundColor: 'Red',
          destination: '/user/profile',
          close: true,
        }).showToast();
      })
    });
  });


  //delete address ajax
  $('.delete-address-btn'),on('click', function(e){
    var addressId = $(this).data('address-id');

    $.ajax({
      url:'/delete_address' + addressId,
      method: 'GET',
      success: ((response)=>{
        if(response === 'true'){
          Toastify({
          text: response.message,
          duration: 4000,
          backgroundColor: 'green',
          destination: '/user/profile',
          close: true,
        }).showToast();
      }
      }),

      error: ((error)=>{
        Toastify({
          text: 'Error deleting address',
          duration: 3000,
          backgroundColor: 'red',
          close: true,
        }).showToast();
      })
    });
  });


</script> -->
      

<%- include('../partials/templFooter.ejs') -%>