<%- include('../partials/templHeader.ejs') -%>
<%- include('../partials/user-nav.ejs') -%>


<div class="site-wrap">
    

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/user">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">My Wishlist</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="site-blocks-table">
              
              <table class="table table-bordered">
                <% if(products.length > 0) { %>
                <thead>
                  <tr>
                    <th colspan="2" class="product-thumbnail">Product</th>
                    <th colspan="2">Remove</th>
                    <!-- <th  class="product-remove">Remove</th> -->
                  </tr>
                </thead>
                <tbody>
                  <% products.reverse().forEach((product) => { %>
                  <tr class="">
                    <td class="text-center product-thumbnail">
                      <a href="/user/product_one/<%= product.ProductId %>"> <img src="/<%= product.productId && product.productId.image && product.productId.image[0] %>" alt="Image" class="img-fluid"> </a>
                    </td>
                    <td>
                        <p>
                            <a href="/user/product_one/<%= product.productId %>"> <span class="text-success fw-semibold product-name"><%= product.productId.pname %></span> </a>  <br>
                             <span class="text-muted product-details" ><%= product.productId.details %></span> <br>
                             <span class="">₹ <%= product.productId.price %></span>
                        </p>
                    </td>
                    <td><a href="/delete/<%= product.productId._id %>"  class="btn btn-primary btn-sm" id="remove" >X</a></td>
                  </tr>
                  <% }) %>
                </tbody>
                <% } %>
              </table>
             
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="row mb-5">
              <!-- <div class="col-md-6 mb-3 mb-md-0">
                <button type="button" class="btn btn-primary btn-sm btn-block">Update Cart</button>
              </div> -->
              <div class="col-md-6">
                <a href="/user/products" class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer border-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Navigations</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Sell online</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Shopping cart</a></li>
                  <li><a href="#">Store builder</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Mobile commerce</a></li>
                  <li><a href="#">Dropshipping</a></li>
                  <li><a href="#">Website development</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Point of sale</a></li>
                  <li><a href="#">Hardware</a></li>
                  <li><a href="#">Software</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a href="#" class="block-6">
              <img src="/public/index/images/shades_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0">Finding Your Perfect Shades</h3>
            </a>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">EyeStyle Stylish eyewears, Al Barsha - Dubai, United Arab Emirates </li>
                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                <li class="email">eyestyleofficial@gmail.com</li>
              </ul>
            </div>

            <div class="block-7">
              <form action="#" method="post">
                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                <div class="form-group">
                  <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                  <input type="submit" class="btn btn-sm btn-primary" value="Send">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

<style>
  .product-name,
  .product-details {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>

<%- include('../partials/templFooter.ejs') -%>